*  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/wood.webp);
  background-size: cover;
}

.main-wrapper {
  padding: 3rem;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content:space-around;
}

.lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lista.for {
  width: 500px;
  height: 750px;
  background-image: url(img/blackboard.jpg);
  background-size: contain;
  color: white;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 1.5rem;
}

.output {
  list-style: none;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.6rem;
}

.lista.while {
  width: 500px;
  height: 750px;
  background-image: url(img/notebook.webp);
  background-size: contain;
  font-family: 'Caveat', cursive;
  font-size: 1.3rem;
}

ul.ciclowhile {
  transform: rotate(-15deg);
  list-style: none;
}

.lista.while h2 {
  transform: rotate(-5deg);
}
 
@media screen and (max-width: 900px) {
  .main-wrapper {
    flex-direction: column;
  }

  .lista.for {
    margin-bottom: 5rem;
  }
}